@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';

}

/*
:root is where you declare and initialize global vars that you can
reuse throughout your stylesheet */
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}


/* Page default zoom size */
#body {
    zoom: 110%;
}


html {
    font-size: 63.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header styling: */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    transition: 0.3s;
}

header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 17px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 35px;

    transition: 0.3s;
}

.navbar a:hover, .navbar a.Home {
    color: var(--main-color);
}


#menu-icon {
    position: relative;
    font-size: 36px;
    color: var(--text-color);
    cursor: pointer;
    display: none;

}


/* page body styling */
section {
    min-height: 100vh;
    /* top | right | bottom | left */
    padding: 100px 9% 20px;
}

/* Section I */
/* HOME Page */

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('Images/home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 600px;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 66px;
    font-weight: 700;
    line-height: 1.3;
}


.home-content .animed-title {

    width: 400px;
}

.home-content .animed-title h3 {
    position: relative;
    width:fit-content;
    text-align: center;
    padding-right: 0;
    font-size: 32px;
    font-weight: 700 ;
    color: transparent;

    -webkit-text-stroke: 0.8px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -330px 0;

} /* Fullstack cursor animation */
.home.show-animation .home-content .animed-title h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}


.home-content .animed-title h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}
.home.show-animation  .home-content .animed-title h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}


.home-content p {
    position: relative;
    font-size: 16px;
    /* top | right | bottom | left */
    margin: 20px 0 40px;
}


.buttons {
    width: 350px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between ;
}

.buttons .btn {
    width: 150px;
    height: 100%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #00abf0;
    border: 2px solid var(--main-color);
    border-radius: 100px;

    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;

    transition: 0.5s;
}

.buttons .btn:hover {
    color: var(--main-color)
}

.buttons .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.buttons .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.buttons .btn:nth-child(2)::before {
    background-color: var(--main-color);
}

/* layer ontop of button */
.buttons .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;

    transition: 0.5s;
}
/* layer animation */
.buttons .btn:hover:before {
    width: 100%;
}

/* My Contact buttons */
.connect-icns {
    position: absolute;
    bottom: 20px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.connect-icns a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);

    overflow: hidden;
    z-index: 1;

    transition: 0.5s;
}

.connect-icns a:hover {
    color: var(--bg-color);
}

.connect-icns a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;

    transition: 0.5s;

}

.connect-icns a:hover:before {
    width: 100%;
}

/* Background picture hover */
.bg-pic {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    background-color: var(--bg-color);

    opacity: 0.5;
    transition: 2s;
}


.bg-pic:hover {
    background-color: var(--bg-color);
    opacity: -1;
}


/* Section II */
/* About Section  */

.about {
    display: flex;
    max-height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: var(--second-bg-color);
    padding-bottom: 60px;
}

.heading {
    position: relative;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

/* image setting */
.my-img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-img img {
    width: 85%;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.my-img .img-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border-top: 2px solid var(--second-bg-color);
    border-right: 2px solid var(--main-color);
    border-bottom: 2px solid var(--second-bg-color);
    border-left: 2px solid var(--main-color);

    /* spinning anime */
    animation: imgSpinner 8s linear infinite;
    z-index: 60;
}


/* info here */
.about-me {
    text-align: center;
}

.about-me h3 {
    position: relative;
    display: inline-block;
    font-size: 25px;
}

.about-me p {
    position: relative;
    font-size: 15px;
    margin: 20px 0 30px;
}

 #btnb {
    display: inline-block;
    width: 150px;
}

.buttons #btnx::before {
    background: #112e42;
}


/* Section III */
/* Education */

.education {
    display: flex;
    max-height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
    background: var(--bg-color);
}


.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

.education-row .education-column {
    flex: 1 1 400px;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 25px;
    margin: 0 0 15px 20px;
}

.education-column .education-box {
    position: relative;
    border-left: 2px solid var(--main-color);
}

.education-column .education-content {
    position: relative;
    padding-left: 20px;
}
.education-column .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -11px;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
}


.education-content .content {
    position: relative;
    padding: 12px;
    border: 2px solid var(--main-color);
    border-radius: 7px;
    margin-bottom: 20px;

    overflow: hidden;
    z-index: 1;
}
.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    opacity: 0.8;
    z-index: -1;

    transition: 1s;
}
.education-content .content:hover:before {
    width: 100%;
}

.education-content .content .year {
    font-size: 15px;
    color: var(--main-color);
    padding-bottom: 5px;
    font-weight: 500;
}


.education-content .content .year i {
    padding-right: 5px;
}

.education-content .content h3 {
    font-size: 17px;
}

.education-content .content p {
    font-size: 16px;
    padding-top: 5px;
}



/* Section IV */
/* achievement */
.achievements {
    margin: 0;
    padding: 100px;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
    background: var(--second-bg-color)
}

.slider {
    position: relative;
    margin-top: 30px;
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 500%;
    height: 600px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1000px;
    height: 600px;
}

/* Manual slide navigation */

.navigation-man {
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    margin-top: 590px;
    padding: 5px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;

    transition: 1s;
}

/* spread buttons apart */
.manual-btn:not(:last-child) {
    margin-right: 40px;
}

/* change color when mouse pointer hovers */
.manual-btn:hover {
    background: var(--main-color);
}

/* slide pictures manual movement */
/* for a button selected, move the pictures list left until picture is reached */
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}


/* Auto slide movement */
.navigation-auto {
    margin-top: 550px;
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
}

.navigation-auto div {
    padding: 5px;
    border: 2px solid var(--main-color);
    border-radius: 10px;

    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

/* slide pictures auto movement */
/* move from a picture to another automatically */
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: var(--main-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: var(--main-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: var(--main-color);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: var(--main-color);
}



/* Section V */
/* Projects */
.projects {
    position: relative;
    justify-content: center;
    max-height: auto;
    padding-bottom: 60px;
}
/* Animation Fix */
.projects h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%)

}

.block {
    width: 100%;
    height: 70%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    position: relative;
    margin-top: -35px;
    padding-top: 25px;
    width: 600px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .btn {
    position: relative;
    width: 355px;
    height: 60px;
    margin: 20px;
    font-size: 20px;
}

/* Glass button features */
.container .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #fff;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    backdrop-filter: blur(15px);

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    transition: 0.5s;
    z-index: 1;
}

/* On Hover text gap */
.container .btn:hover a {
    letter-spacing: 3px;
}

/* Button glass glair set */
.container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);

    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

/* Button glass glair movement on hover */
.container .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

/* [Bottom] Button NEON feature */
.container .btn::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 15%;
    left: 50%;
    bottom: -5px;
    border-radius: 10px;


    background: #f00000;
    transition: 0.5s;
    transform: translateX(-50%);
}

/* [Bottom] Button NEON feature on hover */
.container .btn:hover::before {
    height: 50%;
    width: 90%;
    bottom: 0;
    border-radius: 30px;

    transition-delay: 0s;
}


/* [Top] Button NEON feature */
.container .btn::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 15%;
    left: 50%;
    top: -5px;
    border-radius: 10px;


    background: #f00000;
    transition: 0.5s;
    transform: translateX(-50%);
}

/* [Top] Button NEON feature on hover */
.container .btn:hover::after {
    top: 0;
    height: 50%;
    width: 90%;
    border-radius: 30px;

    transition-delay: 0s;
}

/*---  Objects attributes setting  ---*/

/* 1st Instance (child) attributes */
.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after
{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}

/* 2end (child) attributes */
.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after
{
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45,
    0 0 15px #1eff45,
    0 0 30px #1eff45,
    0 0 60px #1eff45;
}

/* 3rd (child) attributes */
.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after
{
    background: #E6FB04;
    box-shadow: 0 0 5px #E6FB04,
    0 0 15px #E6FB04,
    0 0 30px #E6FB04,
    0 0 60px #E6FB04;
}

/* 4th (child) attributes */
.container .btn:nth-child(4)::before,
.container .btn:nth-child(4)::after
{
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff,
    0 0 15px #2bd2ff,
    0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
}

/* 5th (child) attributes */
.container .btn:nth-child(5)::before,
.container .btn:nth-child(5)::after
{
    background: #5084ff;
    box-shadow: 0 0 5px #5084ff,
    0 0 15px #5084ff,
    0 0 30px #5084ff,
    0 0 60px #5084ff;
}


/*--- Solar system ---*/
.solarBox {
    width: 700px;
    height: 750px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 150px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
}

.solarSys {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

/* The SUN */
.sun {
    position: absolute;
    width: 7em;
    height: 7em;
    top: 10em;
    left: 25em;
    background-color: yellow;
    border-radius: 50%;
    border: 10px solid transparent;
    box-shadow: 0 0 0 4px #fffc5633,
                0 0 0 10px #fffc5622,
                0 0 0 18px #fffc5611,
                0 0 0 30px #fffc5608,
                0 0 0 50px #fffc5606,
                0 0 0 70px #fffc5604,
                0 0 0 100px #fffc5602;
    /*box-shadow: 0 0 11em white;*/
}


/* Planets Trajectories */
.mercury, .venus, .moon, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
}

/* Mercury trajectory */
.mercury {
    top: -3em;
    right: -3em;
    width: 11em;
    height: 11em;
    animation: orbit 8.7s linear infinite;
}

/* Venus trajectory */
.venus {
    top: -5em;
    right: -5em;
    width: 15em;
    height: 15em;
    animation: orbit 22.4s linear infinite;
}

/* Moons trajectory */
.moon {
    top: 0.8em;
    right: 0.8em;
    width: 4em;
    height: 4em;
    animation: orbit 2s linear infinite;
}

/* Earths trajectory */
.earth {
    top: -7.5em;
    left: -7.5em;
    width: 20em;
    height: 20em;
    animation: orbit 36.5s linear infinite;
}

/* Mars trajectory */
.mars {
    top: -10.5em;
    right: -10.5em;
    width: 26em;
    height: 26em;
    animation: orbit 68.6s linear infinite;
}

/* Jupiter trajectory */
.jupiter {
    top: -15em;
    right: -15em;
    width: 35em;
    height: 35em;
    animation: orbit 100s linear infinite;
}

/* Saturn trajectory */
.saturn {
    top: -20em;
    right: -20em;
    width: 45em;
    height: 45em;
    animation: orbit 200s linear infinite;
}

/* Uranus trajectory */
.uranus {
    top: -22.5em;
    right: -22.5em;
    width: 50em;
    height: 50em;
    animation: orbit 350s linear infinite;
}

/* Uranus trajectory */
.neptune {
    top: -27.5em;
    right: -27.5em;
    width: 60em;
    height: 60em;
    animation: orbit 700s linear infinite;
}


/*-- Planets --*/
/* Earths & Moon */
.mercury::before,
.venus::before,
.earth::before,
.moon::before,
.mars::before,
.jupiter:before,
.saturn::before,
.uranus::before,
.neptune::before
{
    content: '';
    position: absolute;
    border-radius: 50%;
}

/* Mercury */
.mercury::before {
    top: 1em;
    right: 1.2em;
    width: 0.7em;
    height: 0.7em;
    background-color: #aca3a3;
    box-shadow: 0 0 0 1px #aca3a333,
    0 0 0 4px #aca3a322,
    0 0 0 7px #aca3a311;
}

/* Venus */
.venus::before {
    top: 1.0em;
    right: 1.7em;
    width: 1.4em;
    height: 1.4em;
    background-color: #eac224;
    box-shadow: 0 0 0 2px #eac22433,
    0 0 0 5px #eac22422,
    0 0 0 10px #eac22411;
}

/* Moon */
.moon::before {
    top: 0.5em;
    right: -0.2em;
    width: 0.5em;
    height: 0.5em;
    background-color: #ededed;
    box-shadow: 0 0 0 0.5px #ededed33,
    0 0 0 2px #ededed22,
    0 0 0 4px #ededed11;
}

/* Earths */
.earth::before {
    top: 2em;
    right: 1.8em;
    width: 1.5em;
    height: 1.5em;
    background-color: #0e4aff;
    box-shadow: 0 0 0 2px #4169e133,
    0 0 0 5px #4169e122,
    0 0 0 10px #4169e111;
}

/* Mars */
.mars::before {
    top: 3.4em;
    right: 2.9em;
    width: 1em;
    height: 1em;
    background-color: #cf4303;
    box-shadow: 0 0 0 2px #cf430333,
    0 0 0 5px #cf430322,
    0 0 0 10px #cf430311;
}

/* Jupiter */
.jupiter:before {
    top: 2.7em;
    right: 2.7em;
    width: 4em;
    height: 4em;
    background-color: #e8c78b;
    box-shadow: 0 0 0 4px #e8c78b33,
    0 0 0 8px #e8c78b22,
    0 0 0 15px #e8c78b11;
}

/* Saturn */
.saturn::before {
    top: 5em;
    right: 6em;
    width: 2em;
    height: 2em;
    background-color: #f5deb3;
    box-shadow: 0 0 0 3px var(--bg-color),
    0 0 0 6px burlywood,
    0 0 0 10px #f5deb322,
    0 0 0 15px #f5deb311;
}

/* Uranus */
.uranus::before {
    top: 6.8em;
    right: 6.5em;
    width: 1em;
    height: 1em;
    background-color: #44b1ff;
    box-shadow: 0 0 0 2px #44b1ff33,
    0 0 0 5px #44b1ff22,
    0 0 0 10px #44b1ff11;
}

/* Mars */
.neptune::before {
    top: 7.9em;
    right: 8.4em;
    width: 1em;
    height: 1em;
    background-color: #4169e1;
    box-shadow: 0 0 0 2px #4169e133,
    0 0 0 5px #4169e122,
    0 0 0 10px #4169e111;
}


/* Element spinning function */
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}



/* Section VI */
/* Skills */
.skills {
    padding-bottom: 70px;
    background: var(--second-bg-color);
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.skills-column {
    flex: 1 1 400px;
}

.skills-column .title {
    font-size: 25px;
    margin: 0 0 15px;
    position: relative;
    display: inline-block;
}

.skills-column .skills-box {
    position: relative;
}

.skills-box .skills-content {
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 7px;
    padding: 5px 15px;
    z-index: 1;

    overflow: hidden;
}
.skills-box .skills-content::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--bg-color);
    z-index: -1;

    transition: 1s;
}
.skills-box .skills-content:hover:before
{
    width: 100%;
}


/* Progress bar */
.skills-box .progress-bar {
    padding: 10px 0;
}

/* Progress bar title */
.skills-content .progress-bar h3 {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

/* Progress bar outer */
.skills-content .progress-bar .bar {
    height: 25px;
    border: 2px solid var(--main-color);
    border-radius: 7px;
    padding: 5px;
    margin: 10px 0;

}

/* Progress bar inner */
.skills-content .progress-bar .bar span {
    height: 100%;
    display: block;
    background: var(--main-color);
    border-radius: 3px;
}

/* progress bars instances */
/* left bars */
.skills-column:nth-child(1) .skills-content .progress-bar:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress-bar:nth-child(2) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress-bar:nth-child(3) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress-bar:nth-child(4) .bar span {
    width: 60%;
}

/* right bars */
.skills-column:nth-child(2) .skills-content .progress-bar:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress-bar:nth-child(2) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress-bar:nth-child(3) .bar span {
    width: 50%;
}

.skills-column:nth-child(2) .skills-content .progress-bar:nth-child(4) .bar span {
    width: 0%;
}


/* Section V */
/* Contact */

.contact {
    min-height: auto;
    padding-bottom: 70px;
}

.contact h2 {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 8px 0;
}


.contact form .input-box .input-field input,
.contact form .textarena textarea
{
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 16px;
    color: var(--text-color);
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 7px;
}
/* empty box text */
.contact form .input-box .input-field input::placeholder,
.contact form .textarena textarea::placeholder
{
color: var(--text-color);
}

/* text box animation */
.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--second-bg-color);
    width: 0;
    height: 100%;
    border-radius: 7px;
    z-index: -1;

    transition: 1s;
}
/* smooth text box bg transition */
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarena textarea:focus~.focus,
.contact form .textarena textarea:valid~.focus
{
    width: 100%;
}


.contact form .textarena {
    position: relative;
    margin: 8px 0 27px;
    display: flex;
}

.contact form .textarena textarea {
    resize: none;
}

.contact form .buttons .btn {
    cursor: pointer;
}


/* Final Part */
/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--second-bg-color);
    padding: 20px 9%;
}

.footer-txt,
.footer-TopIcn {
    position: relative;
}

.footer .footer-txt p {
    font-size: 16px;
    color: var(--text-color);
}

.footer .footer-TopIcn a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;

    z-index: 1;
    overflow: hidden;
}
.footer .footer-TopIcn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);

    z-index: -1;
    transition: 0.3s;
}
.footer .footer-TopIcn a:hover:before {
    width: 100%;
}


.footer .footer-TopIcn a i {
    font-size: 25px;
    color: var(--bg-color);

    transition: 0.3s;
}

.footer .footer-TopIcn a:hover i {
    color: var(--main-color);
}


/*** Page load animations ***/
.animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    z-index: 1000;
}

/* Page load animetions */
.logo .animation,
.navbar .animation,
#menu-icon .animation,
.home.show-animation .animation
 {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}


/* page scroll title animations */
.animation.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

/* odd pages color change pages: 2 4 6*/
section:nth-child(odd) .animation.scroll,
.footer .animation.scroll {
    background-color: var(--second-bg-color);
}

/* special case to hide full box */
.education .education-box .animation.scroll {
    width: 105%;
}

/* special case for NEON Glass buttons */
.projects .block .container .btn .animation.scroll {
    height: 250%;
    margin-top: -55px;
}



/* scroll smooth side animation displayer */
.about.show-animation .animation.scroll,
.education.show-animation .animation.scroll,
.achievements.show-animation .animation.scroll,
.projects.show-animation .animation.scroll,
.skills.show-animation .animation.scroll,
.contact.show-animation .animation.scroll,
.footer.show-animation .animation.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;

}


/* Fix for size picture animation */
/* Remove this animation block to change animation side */
.animation {
    right: 0;
    left: auto;
}

.animation.bg_pic {
    width: 55%;
}





/* Breakpoint; Set to phone screen when screen is small */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .slider {
        position: relative;
        margin-top: 30px;
        width: 800px;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide img{
        width: 800px;
        height: 400px;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 20px 4%;
    }

    section {
        padding: 100px 4% 20px;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 20px 4%                                                                        ;
    }

    .slider {
        position: relative;
        margin-top: 30px;
        width: 600px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
    }
    .slide img{
        width: 600px;
        height: 300px;
    }

}

@media (max-width: 968px) {
    .animation.bg-pic {
        width: 55%;
    }
}


/* Set menu for small screens (Phone mode) */
@media (max-width: 1115px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }
    /* make menu and hide on the left; in anime */
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 10px 4%;
        background: var(--main-color);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 1;

        transition: 0.25s ease;
        transition-delay: 0.20s;
    }
    /* get hidden menu */
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    /* menu bar underlayer animation; out anime */
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        z-index: -1;

        transition: 0.25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav {
        left: 0;
        transition-delay: 0.25s;
    }

    /* set menu buttons */
    .navbar a {
        display: block;
        font-size: 20px;
        margin: 30px 0;

        transform: translateX(-200px);
        transition: 0.25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition: .25s;
        transition-delay: 0.25s;
    }

}


/* Make text and icons smaller on small screens */
@media (max-width: 677px) {

    .slider {
        position: relative;
        margin-top: 30px;
        width: 400px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
    }
    .slide img{
        width: 400px;
        height: 200px;
    }
}

/* Make text and icons smaller on small screens */
@media (max-width: 520px) {

    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
        font-size: 50px;
    }

    .home-content p {
        font-size: 12px;
    }

    .connect-icns {
        width: 160px;
    }

    .connect-icns a {
        width: 38px;
        height: 38px;
    }

    .footer .footer-txt p {
        font-size: 13px;
    }



/* Make text and icons smaller on small screens */
@media (max-width: 462px) {

    .home-content h1 {
        font-size: 45px;
    }

    .education {
        padding: 10px 4% 50px 5%
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 20px;
        text-align: center;
    }

    .slider {
        position: relative;
        margin-top: 30px;
        width: 300px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
    }
    .slide img{
        width: 300px;
        height: 150px;
    }
}



/* Make text and icons smaller on small screens */
@media (max-width: 402px) {

    .home {
        justify-content: center;
    }

    .home-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 30px;
    }

    .home-content p {
        width: 290px;
        font-size: 12px;
    }

}

}

/* KEYFRAME ANIME: Fullstack Writing animation */
@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -330px 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }

}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }

}

/* Image spinner */
@keyframes imgSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* page load animation */
@keyframes showRight {
    100% {
        width: 0;
    }
}